.messages {
    margin-left: 30px;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 10% 10% 10% 70%
}
.messages-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages-navigation .header {
    margin-right: auto;
    font-size: 25px;
}
.messages-navigation .pages {
    margin-right: 20px;
    color: rgb(128, 128, 128);
}
.messages-navigation .pages i {
    margin: 0 15px;
    color: rgba(128, 128, 128, 0.548);
}
.messages-navigation .all {
    margin-right: 20px;
}
.messages-navigation .all button{
    border: none;
    background-color: rgba(63, 75, 180, 0.849);
    padding: 10px 25px;
    color: white;
    font-size: 12px
}
.messages-navigation .unread button {
    border: 1px solid rgb(73, 72, 72);
    padding: 10px 25px;
    color: rgb(73, 72, 72);
    font-size: 12px;
    background-color: white;
}
.messages-navigation .important button {
    border: 1px solid rgb(73, 72, 72);
    padding: 10px 25px;
    color: rgb(73, 72, 72);
    font-size: 12px;
    background-color: white;
}
.notification {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(255, 72, 0, 0.733) , rgba(245, 169, 6, 0.801));
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
.notification .group-call {
    display: flex;
    justify-content: center;
    align-items: center
}
.notification .group-call p {
    padding: 3px;
    margin: 0;
    color: rgba(230, 224, 224, 0.836);
}
.notification .group-call .header{
    font-size: 15px;
    font-weight: bolder;
}
.notification .group-call .email {
    font-size: 12px;
    font-weight: bold;
}
.notification .group-call .time {
    font-size: 8px
}
.notification .group-call img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px
}
.notification .highlights {
    display: flex;
    margin: 0 25px
}
.notification .highlights p {
    padding: 7px;
    margin: 0;
    color: rgba(230, 224, 224, 0.836);
}
.notification .highlights .a, .k, .d, .v{
    border-radius: 50%;
}
.notification .highlights .letters{
    display: flex;
}
.notification .highlights .a {
    border: 2px solid rgba(230, 224, 224, 0.836)
}
.notification .highlights .k {
    border: 2px solid rgba(230, 224, 224, 0.692);
}
.notification .highlights .d {
    border: 2px solid rgba(230, 224, 224, 0.404)
}
.notification .highlights .v {
    border: 2px solid rgba(230, 224, 224, 0.219)
}
.notification .highlights .more {
    margin-left: 10px;
    font-size: 13px
}
.notification .invitation button{
    background-color: inherit;
    border: 1px solid rgba(230, 224, 224, 0.404);
    border-radius: 2px;
    color: rgba(230, 224, 224, 0.836);
    padding: 7px 15px;
    margin: 0 30px
}
.notification .join button{
    background-color: rgba(230, 224, 224, 0.822);
    border: none;
    border-radius: 2px;
    color: rgba(97, 96, 96, 0.911);
    padding: 7px 15px;
    margin: 0 30px
}
.notification .join button i{
    color: rgba(128, 128, 128, 0.548);
    margin-right: 10px
}
.messages-summary {
    display: flex;
    border: 1px solid rgba(95, 92, 92, 0.514);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.856)
}
.messages-summary p {
    padding: 0;
    margin: 0
}
.messages-summary i {
    color: rgba(63, 75, 180, 0.849);
    padding: 16px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.13)
}
.messages-summary section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages-summary section .header {
    font-size: 11px;
}
.messages-summary section .numbers {
    font-size: 15px;
    font-weight: bold;
    color: rgb(78, 77, 77)
}
.messages-summary section .month {
    font-size: 8px;
    color: rgba(95, 92, 92, 0.514)
}
.messages-list {
    margin-top: 12px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.856)    
}
.employee {
    display: grid;
    grid-template-columns: 7% 7% 16% 64% 6% ;
    font-size: 0.7em;
    padding: 20px 25px;
    box-sizing: border-box
}
.employee img {
    width: 30px;
    height: 30px;
    border-radius: 50%
}
.employee .sender {
    font-weight: bold;
    font-size: 15px
}
.employee .message-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box  
}
.employee .category {
    color: rgba(39, 38, 38, 0.938);
    padding: 5px;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.377)
}
.employee .ellipsis {
    padding: 30px;
    box-sizing: border-box;
    color: rgba(128, 128, 128, 0.479)
}