.home{
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    box-sizing: border-box;
    height: inherit;
    margin-top: 40px
}

@media screen and (max-width: 768px){
    .home {
        margin-top: 20px
    }
}