.side-bar {
    width: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.623);
}
.wrapper .welcome {
    border-bottom: 0.5px solid rgba(71, 69, 69, 0.322);
    display: flex;
    justify-content: center;
    align-items: center
}
.wrapper .welcome img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.wrapper .welcome span {
    font-size: 8px;
    color: rgba(83, 83, 83, 0.753);
}
.wrapper .welcome p {
    font-size: 13px;
    padding: 0;
    margin: 0;
    color: rgb(51, 50, 50);
    font-weight: bold;
}
.side-bar .list {
    width: 100%;
    padding: 0
}
.side-bar .list ul {
    padding: 0
}
.side-bar .list li {
    list-style: none;
    color: rgb(51, 50, 50);
    font-size: 13px;
    padding: 15px 30px;
    font-weight: bold;
}
.side-bar .list li i {
    color: rgba(128, 128, 128, 0.795);
    margin-right: 15px
}
.side-bar .list .active {
    color: rgba(63, 75, 180, 0.849);
    background-color: rgba(63, 75, 180, 0.199);
    border-left: 2px solid rgba(63, 75, 180, 0.849)
}
.side-bar .list li:hover {
    color: rgba(63, 75, 180, 0.849);
    background-color: rgba(63, 75, 180, 0.199);
    border-left: 2px solid rgba(63, 75, 180, 0.849)
}
.side-bar .logout {
    text-align: center;
    color: rgb(51, 50, 50);
}
.side-bar .logout i {
    color: rgba(128, 128, 128, 0.795);
    margin-right: 13px
}

@media screen and (max-width: 768px){
    .wrapper .welcome img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
    .wrapper .welcome span {
        font-size: 6px;
    }
    .wrapper .welcome p {
        font-size: 9px;
    }
    .side-bar .list li {
        font-size: 8px;
        padding: 9px 15px;
    }
    .side-bar .list li i {
        margin-right: 8px
    }
    .side-bar .list .active {
        border-left: 1.5px solid rgba(63, 75, 180, 0.849)    
    }
    .side-bar .logout i {
        margin-right: 8px;
    }    
    .side-bar .list li:hover {
        border-left: 1.5px solid rgba(63, 75, 180, 0.849)
    }
    .side-bar .logout {
        font-size: 8px;        
    }
}

@media screen and (max-width: 640px){
    .wrapper .welcome img {
        width: 23px;
        height: 23px;
        margin-right: 6px;
    }
    .wrapper .welcome span {
        font-size: 5px;
    }
    .wrapper .welcome p {
        font-size: 8px;
    }
    .side-bar .list li {
        font-size: 7px;
        padding: 8px 13px;
    }
    .side-bar .list li i {
        margin-right: 7px
    }
    .side-bar .logout i {
        margin-right: 7px;
    }    
    .side-bar .logout {
        font-size: 7px;        
    }
}

@media screen and (max-width: 480px){
    .wrapper .welcome img {
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .wrapper .welcome span {
        font-size: 3px;
    }
    .wrapper .welcome p {
        font-size: 4px;
    }
    .side-bar .list li {
        font-size: 4px;
        padding: 4px 8px;
    }
    .side-bar .list li i {
        margin-right: 4px
    }
    .side-bar .logout i {
        margin-right: 4px;
    }    
    .side-bar .logout {
        font-size: 4px;        
    }
}