.app {
  width: 100%;
  font-family: 'Archivo';
  background-color: rgba(206, 203, 203, 0.288);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box
}